In [2]:
import pandas as pd
DF_features = pd.read_csv("results/GNPSexport/FeatureQuantificationTable.txt", sep="\t", skiprows=([i for i in range(0, 5)] + [j for j in range(6, 31)]), index_col= None)
DF_features = DF_features[['rt_cf','mz_cf', "charge_cf"]]
DF_features

           rt_cf       mz_cf  charge_cf
0     534.644948  285.205931          1
1     524.414065  437.193284          1
2     450.504809  187.126328          1
3      95.265803  228.170565          1
4      77.082741  209.128456          1
...          ...         ...        ...
3538  368.655265  811.457431          2
3539  321.106177  178.086252          1
3540   73.953228  164.093070          1
3541   76.192569  194.081212          1
3542  353.274142  630.367156          2

[3543 rows x 3 columns]

In [3]:
DF_features["charge_cf"] = pd.to_numeric(DF_features["charge_cf"], downcast="integer")
DF_features["mz_cf"] = pd.to_numeric(DF_features["mz_cf"], downcast="float")
DF_features["rt_cf"] = pd.to_numeric(DF_features["rt_cf"], downcast="float")
DF_features

           rt_cf       mz_cf  charge_cf
0     534.644958  285.205933          1
1     524.414062  437.193298          1
2     450.504822  187.126328          1
3      95.265800  228.170563          1
4      77.082741  209.128464          1
...          ...         ...        ...
3538  368.655273  811.457458          2
3539  321.106171  178.086258          1
3540   73.953224  164.093063          1
3541   76.192566  194.081207          1
3542  353.274139  630.367126          2

[3543 rows x 3 columns]

In [4]:
DF_features["Mass"]= 0.0
for ind in DF_features.index:
    if DF_features["charge_cf"][ind] == 0:
        DF_features.loc[ind, "Mass"]= DF_features.loc[ind,"mz_cf"]
    if DF_features["charge_cf"][ind] == 1:
        DF_features.loc[ind, "Mass"]= DF_features.loc[ind,"mz_cf"]- 1.007825
    if DF_features["charge_cf"][ind] == 2:
        DF_features.loc[ind, "Mass"]= (DF_features.loc[ind,"mz_cf"]*2)- 2.015650
    if DF_features["charge_cf"][ind] == 3:
        DF_features.loc[ind, "Mass"]= (DF_features.loc[ind,"mz_cf"]*3)- 3.023475

DF_features["rt_cf"] = DF_features["rt_cf"].astype(float)
DF_features.round(2)

       rt_cf       mz_cf  charge_cf     Mass
0     534.64  285.209991          1   284.20
1     524.41  437.190002          1   436.19
2     450.50  187.130005          1   186.12
3      95.27  228.169998          1   227.16
4      77.08  209.130005          1   208.12
...      ...         ...        ...      ...
3538  368.66  811.460022          2  1620.90
3539  321.11  178.089996          1   177.08
3540   73.95  164.089996          1   163.09
3541   76.19  194.080002          1   193.07
3542  353.27  630.369995          2  1258.72

[3543 rows x 4 columns]

In [5]:
DF_features= DF_features.rename(columns={"rt_cf": "RetentionTime", "charge_cf":"Charge"})
DF_features["Charge"]= DF_features["Charge"].astype(str)
for ind in DF_features.index:
    if DF_features["Charge"][ind] == "1":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
    if DF_features["Charge"][ind] == "2":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
    if DF_features["Charge"][ind] == "3":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
DF_features= DF_features.drop(columns= "mz_cf")
DF_features

      RetentionTime Charge         Mass
0        534.644958     +1   284.198108
1        524.414062     +1   436.185473
2        450.504822     +1   186.118503
3         95.265800     +1   227.162738
4         77.082741     +1   208.120639
...             ...    ...          ...
3538     368.655273     +2  1620.899267
3539     321.106171     +1   177.078433
3540      73.953224     +1   163.085238
3541      76.192566     +1   193.073382
3542     353.274139     +2  1258.718603

[3543 rows x 3 columns]

In [39]:
import numpy as np
DF_features['CompoundName'] = np.arange(len(DF_features))
DF_features['CompoundName'] = "feature_" + DF_features['CompoundName'].astype(str)
DF_features["SumFormula"] = " "
DF_features["RetentionTimeRange"]= "0"
DF_features["IsoDistribution"]= "0"
DF_features

,CompoundName,SumFormula,Mass,Charge,RetentionTime,RetentionTimeRange,IsoDistribution
0,feature_0,,284.20,+1,534.64,0,0
1,feature_1,,436.19,+1,524.41,0,0
2,feature_2,,186.12,+1,450.50,0,0
3,feature_3,,227.16,+1,95.27,0,0
4,feature_4,,208.12,+1,77.08,0,0
...,...,...,...,...,...,...,...
3538,feature_3538,,1620.90,+2,368.66,0,0
3539,feature_3539,,177.08,+1,321.11,0,0
3540,feature_3540,,163.09,+1,73.95,0,0
3541,feature_3541,,193.07,+1,76.19,0,0
3542,feature_3542,,1258.72,+2,353.27,0,0

In [40]:
DF_features= DF_features.round(2)
DF_features= DF_features[["CompoundName","SumFormula", "Mass","Charge","RetentionTime","RetentionTimeRange", "IsoDistribution"]]
DF_features.to_csv("resources/MetaboliteIdentification.tsv", sep="\t", index= None)
DF_features

,CompoundName,SumFormula,Mass,Charge,RetentionTime,RetentionTimeRange,IsoDistribution
0,feature_0,,284.20,+1,534.64,0,0
1,feature_1,,436.19,+1,524.41,0,0
2,feature_2,,186.12,+1,450.50,0,0
3,feature_3,,227.16,+1,95.27,0,0
4,feature_4,,208.12,+1,77.08,0,0
...,...,...,...,...,...,...,...
3538,feature_3538,,1620.90,+2,368.66,0,0
3539,feature_3539,,177.08,+1,321.11,0,0
3540,feature_3540,,163.09,+1,73.95,0,0
3541,feature_3541,,193.07,+1,76.19,0,0
3542,feature_3542,,1258.72,+2,353.27,0,0

Use the following to merge features with an already existing MetaboliteIdentification.tsv (in this case it is empty):

In [47]:
import pandas as pd
MetaboIdent= pd.read_csv("resources/MetaboliteIdentification.tsv", sep="\t")
MetaboIdent["RetentionTime"]=MetaboIdent["RetentionTime"].astype(float)
MetaboIdent["Mass"]=MetaboIdent["Mass"].astype(float)
MetaboIdent["SumFormula"]=MetaboIdent["SumFormula"].astype(str)
MetaboIdent["RetentionTimeRange"]=MetaboIdent["RetentionTimeRange"].astype(str)
MetaboIdent["IsoDistribution"]=MetaboIdent["IsoDistribution"].astype(str)
MetaboIdent

Empty DataFrame
Columns: [CompoundName, SumFormula, Mass, Charge, RetentionTime, RetentionTimeRange, IsoDistribution]
Index: []

In [48]:
DF= MetaboIdent.merge(DF_features, how= "outer")
DF= DF.round(2)
DF= DF[["CompoundName","SumFormula", "Mass","Charge","RetentionTime","RetentionTimeRange", "IsoDistribution"]]
DF.to_csv("resources/MetaboliteIdentification.tsv", sep="\t", index= None)
DF

,CompoundName,SumFormula,Mass,Charge,RetentionTime,RetentionTimeRange,IsoDistribution
0,feature_0,,284.20,+1,534.64,0,0
1,feature_1,,436.19,+1,524.41,0,0
2,feature_2,,186.12,+1,450.50,0,0
3,feature_3,,227.16,+1,95.27,0,0
4,feature_4,,208.12,+1,77.08,0,0
...,...,...,...,...,...,...,...
3538,feature_3538,,1620.90,+2,368.66,0,0
3539,feature_3539,,177.08,+1,321.11,0,0
3540,feature_3540,,163.09,+1,73.95,0,0
3541,feature_3541,,193.07,+1,76.19,0,0
3542,feature_3542,,1258.72,+2,353.27,0,0